#wrapper{
    width: 400px;
    margin: 0 auto;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    height: 100px;
    background-color: #141f40;
}

.headerright{
    background-color: white;
    width: 160px;
    height: 60px;
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}

.headerright1{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: relative;
    top: 10px;
    left: 10px;
}

.headerright2{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 60px;
}

.headerright3{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 110px;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.right1{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    float: left;
    border: solid 5px white;
    position: relative;
    top: 40px;
    left: 40px;
}

.right2{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    float: left;
    border: solid 5px white;
    position: relative;
    top: 50px;
    left: 40px;
}

.right3{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    float: left;
    border: solid 5px white;
    position: relative;
    top: 60px;
    left: 40px;
}

.footer{
    height: 100px;
    background-color: #d98d30;
}